/* line 3, ../scss/utilities/_extends.scss */
body {
  font-family: "Catamaran", sans-serif; }

/* line 8, ../scss/utilities/_extends.scss */
input:focus, .search-container #search-btn:focus {
  box-shadow: inset 0 0 5px #1d2d44; }

/* line 14, ../scss/utilities/_extends.scss */
button:focus {
  box-shadow: 0 0 5px 1px #1d2d44; }

/* line 19, ../scss/utilities/_extends.scss */
input, button {
  outline: none;
  transition: box-shadow .5s ease-out; }

/* line 5, ../scss/base/_base.scss */
* {
  margin: 0;
  padding: 0; }

/* line 10, ../scss/base/_base.scss */
*, *::before, *::after {
  box-sizing: border-box; }

/* line 14, ../scss/base/_base.scss */
html {
  height: 100%; }

/* line 18, ../scss/base/_base.scss */
body {
  height: 100%;
  font-size: 1rem;
  font-weight: 300;
  color: #383838;
  background-color: #1d2d44;
  overflow-x: hidden; }

/* line 26, ../scss/base/_base.scss */
ul {
  list-style: none; }

/* line 30, ../scss/base/_base.scss */
input {
  border: 1px solid rgba(116, 140, 171, 0.5);
  border-radius: 4px;
  padding: 5px 15px;
  background-color: #f5f5f5; }

/* line 39, ../scss/base/_base.scss */
button {
  font-size: 0.9rem;
  font-weight: 400;
  color: #f5f5f5;
  background: none;
  border: none;
  border-radius: 4px; }

/* line 7, ../scss/layout/_header.scss */
header {
  display: flex;
  justify-content: space-between;
  height: 72px;
  background-color: #3e5c76;
  color: #d3d3d3;
  padding: 20px 15px 20px 5px; }
  @media (min-width: 768px) {
    /* line 7, ../scss/layout/_header.scss */
    header {
      padding: 20px 25px 20px 15px; } }

/* line 18, ../scss/layout/_header.scss */
.vertical-line {
  border-left: 1px solid rgba(211, 211, 211, 0.7); }

/* line 22, ../scss/layout/_header.scss */
#menu {
  display: flex;
  justify-content: flex-start; }
  /* line 24, ../scss/layout/_header.scss */
  #menu a#menu-arrow {
    display: block;
    width: 56px;
    height: 64px;
    margin: -16px -4px 0 -8px;
    padding: 12px 8px;
    opacity: 0.5;
    transition: opacity .3s ease-out, transform .4s ease-out; }
    /* line 31, ../scss/utilities/_mixins.scss */
    #menu a#menu-arrow:hover, #menu a#menu-arrow:focus {
      outline: 0 none;
      opacity: 1;
      transform: scale(1.1); }
    @media (min-width: 768px) {
      /* line 24, ../scss/layout/_header.scss */
      #menu a#menu-arrow {
        display: none; } }
  /* line 30, ../scss/layout/_header.scss */
  #menu img#arrow {
    display: inline-block;
    transition: transform .5s; }
    /* line 33, ../scss/layout/_header.scss */
    #menu img#arrow.rotate {
      transform: rotate(180deg); }
  @media (min-width: 768px) {
    /* line 37, ../scss/layout/_header.scss */
    #menu .vertical-line {
      display: none; } }
  /* line 42, ../scss/layout/_header.scss */
  #menu #company {
    font-size: 1.3rem;
    font-weight: 300;
    color: inherit;
    margin: -2px 0 0 15px; }
    /* line 45, ../scss/layout/_header.scss */
    #menu #company strong {
      color: #f5f5f5; }
    /* line 48, ../scss/layout/_header.scss */
    #menu #company span {
      font-size: 0.9rem;
      font-weight: 300;
      color: inherit;
      vertical-align: super; }
    @media (min-width: 768px) {
      /* line 42, ../scss/layout/_header.scss */
      #menu #company {
        margin-left: 10px; } }

/* line 58, ../scss/layout/_header.scss */
#user {
  display: flex;
  justify-content: flex-end; }
  /* line 60, ../scss/layout/_header.scss */
  #user a#user-notice {
    display: block;
    width: 56px;
    height: 64px;
    margin: -16px 0 0 -8px;
    padding: 18px 14px;
    opacity: 0.5;
    transition: opacity .3s ease-out, transform .4s ease-out; }
    /* line 31, ../scss/utilities/_mixins.scss */
    #user a#user-notice:hover, #user a#user-notice:focus {
      outline: 0 none;
      opacity: 1;
      transform: scale(1.1); }
    @media (min-width: 768px) {
      /* line 60, ../scss/layout/_header.scss */
      #user a#user-notice {
        display: block;
        width: 64px;
        height: 64px;
        margin: -16px 0 0 -16px;
        padding: 18px;
        opacity: 0.5;
        transition: opacity .3s ease-out, transform .4s ease-out; }
        /* line 31, ../scss/utilities/_mixins.scss */
        #user a#user-notice:hover, #user a#user-notice:focus {
          outline: 0 none;
          opacity: 1;
          transform: scale(1.1); } }
  /* line 66, ../scss/layout/_header.scss */
  #user #user-photo {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    border-radius: 50%;
    border: 1px solid rgba(116, 140, 171, 0.5); }
    @media (min-width: 768px) {
      /* line 66, ../scss/layout/_header.scss */
      #user #user-photo {
        margin-left: 20px; } }
  /* line 76, ../scss/layout/_header.scss */
  #user #user-name {
    display: none; }
    @media (min-width: 768px) {
      /* line 76, ../scss/layout/_header.scss */
      #user #user-name {
        display: block;
        margin: 0;
        padding-top: 4px;
        padding-left: 10px; } }

/* line 7, ../scss/layout/_containers.scss */
.outer-container {
  display: flex;
  min-height: 100%; }

/* line 16, ../scss/layout/_containers.scss */
.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 64px;
  padding: 0 10px; }
  @media (min-width: 768px) {
    /* line 16, ../scss/layout/_containers.scss */
    .title-container {
      padding: 0 20px; } }

/* line 29, ../scss/layout/_containers.scss */
.alert-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 100;
  color: #f5f5f5;
  background-color: #3e5c76;
  border: 1px solid rgba(211, 211, 211, 0.7);
  border-radius: 4px;
  padding: 2px 0;
  margin: 20px 10px 0; }
  @media (min-width: 768px) {
    /* line 29, ../scss/layout/_containers.scss */
    .alert-container {
      margin: 25px 20px 0; } }

/* line 46, ../scss/layout/_containers.scss */
.chart-container {
  border-bottom: 1px solid rgba(116, 140, 171, 0.5);
  padding: 0 10px 20px; }
  @media (min-width: 768px) {
    /* line 46, ../scss/layout/_containers.scss */
    .chart-container {
      padding: 0 20px 25px; } }

@media (min-width: 600px) {
  /* line 58, ../scss/layout/_containers.scss */
  .supplemental-charts-container {
    display: flex;
    justify-content: space-around; }
    /* line 61, ../scss/layout/_containers.scss */
    .supplemental-charts-container > div {
      width: 50% !important;
      border-right: 1px solid rgba(116, 140, 171, 0.5); } }

/* line 7, ../scss/layout/_search.scss */
#page-title {
  font-size: 1.1rem;
  font-weight: 400;
  color: inherit;
  line-height: 64px;
  width: 95px;
  border-right: 1px solid rgba(116, 140, 171, 0.5); }
  @media (min-width: 768px) {
    /* line 7, ../scss/layout/_search.scss */
    #page-title {
      font-size: 1.4rem;
      font-weight: 400;
      color: inherit;
      width: 120px; } }

/* line 18, ../scss/layout/_search.scss */
.search-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 95px + 10px);
  height: 64px;
  background-color: #e7e7e7;
  margin-right: -10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(116, 140, 171, 0.5); }
  @media (min-width: 768px) {
    /* line 18, ../scss/layout/_search.scss */
    .search-container {
      width: calc(100% - 120px + 20px);
      margin-right: -20px;
      padding-right: 20px; } }
  /* line 32, ../scss/layout/_search.scss */
  .search-container #search {
    width: 75%;
    max-width: 375px; }
  /* line 36, ../scss/layout/_search.scss */
  .search-container #search-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 4px; }

/* line 5, ../scss/layout/_alert.scss */
span#alert-tag {
  font-weight: 500;
  padding: 0 15px; }

/* line 10, ../scss/layout/_alert.scss */
#alert-message {
  flex-grow: 1;
  line-height: 1.2; }

/* line 15, ../scss/layout/_alert.scss */
#alert-btn {
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  height: 40px !important;
  padding: 0 15px; }

/* line 7, ../scss/layout/_charts.scss */
canvas.chart {
  width: 100% !important;
  height: 225px !important; }
  @media (min-width: 480px) {
    /* line 7, ../scss/layout/_charts.scss */
    canvas.chart {
      height: 250px !important; } }
  @media (min-width: 768px) {
    /* line 7, ../scss/layout/_charts.scss */
    canvas.chart {
      height: 300px !important; } }

/* line 22, ../scss/layout/_charts.scss */
.line-chart-title {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #696969;
  text-transform: uppercase; }
  @media (min-width: 480px) {
    /* line 22, ../scss/layout/_charts.scss */
    .line-chart-title {
      margin-bottom: 0; } }

/* line 32, ../scss/layout/_charts.scss */
.line-chart-options {
  padding: 20px 10px 0; }
  @media (min-width: 480px) {
    /* line 32, ../scss/layout/_charts.scss */
    .line-chart-options {
      display: flex;
      justify-content: space-between;
      padding: 20px 10px 0;
      margin-bottom: -10px; } }
  @media (min-width: 768px) {
    /* line 32, ../scss/layout/_charts.scss */
    .line-chart-options {
      padding: 25px 20px 0; } }

/* line 44, ../scss/layout/_charts.scss */
.line-chart-timescale {
  display: flex;
  justify-content: flex-end; }
  /* line 46, ../scss/layout/_charts.scss */
  .line-chart-timescale button {
    width: 68px;
    height: 26px;
    background-color: #3e5c76;
    color: #d3d3d3;
    border-radius: 15px;
    margin-left: 7px;
    padding-top: 2px; }
    /* line 54, ../scss/layout/_charts.scss */
    .line-chart-timescale button.active {
      color: #f5f5f5;
      background-color: #1fad3b; }

/* line 7, ../scss/layout/_navigation.scss */
nav {
  position: absolute;
  width: 88px;
  padding-top: 10px; }
  /* line 11, ../scss/layout/_navigation.scss */
  nav a.nav-links {
    display: block;
    width: 64px;
    height: 64px;
    margin: 12px;
    padding: 16px;
    opacity: 0.5;
    transition: opacity .3s ease-out, transform .4s ease-out; }
    /* line 31, ../scss/utilities/_mixins.scss */
    nav a.nav-links:hover, nav a.nav-links:focus {
      outline: 0 none;
      opacity: 1;
      transform: scale(1.1); }
  @media (min-width: 768px) {
    /* line 7, ../scss/layout/_navigation.scss */
    nav {
      position: relative; } }

/* line 7, ../scss/layout/_main.scss */
main {
  flex: 1;
  width: 100%;
  background: #f5f2e6;
  transform: translateX(0);
  transition: transform .5s; }
  /* line 13, ../scss/layout/_main.scss */
  main.slide-right {
    transform: translateX(88px); }

/* line 20, ../scss/layout/_main.scss */
.section-title {
  font-size: 1rem;
  font-weight: 500;
  color: #696969;
  text-transform: uppercase;
  padding: 20px 10px 0;
  margin-bottom: -10px; }
  @media (min-width: 768px) {
    /* line 20, ../scss/layout/_main.scss */
    .section-title {
      padding: 25px 20px 0; } }

/*# sourceMappingURL=application.css.map */
