// Descriptive color variables

$alabaster      : #f5f2e6;

$mine-shaft     : #383838;
$dove-gray      : #696969;

$light-gray     : #d3d3d3;
$smoke-white    : #f5f5f5;

$sunglo         : #e67670;

$deep-space     : #3e5c76;
$yankees-blue   : #1d2d44;



// Functional color variables

$color-background     : $alabaster;

$color-text-dark      : $mine-shaft;
$color-text-light     : $dove-gray;

$color-text-inv-dark  : $light-gray;
$color-text-inv-light : $smoke-white;

$color-link-hover     : $sunglo;
$color-link-active    : $alabaster;

$color-header         : $deep-space;
$color-nav            : $yankees-blue;



// Font stacks, sizes, and weights

$stack-catamaran    : 'Catamaran', sans-serif;



// Border

$border: 1px solid rgba($light-gray, 0.7);



// Media query breakpoints

$tablet-width   : 768px;
$desktop-width  : 1024px;