//============================================================
// Container Styles
//============================================================

//------------- Outer -------------

.outer-container {
  @include display-flex;
  min-height: 100%;
}

.inner-container {
  padding: 0 $mobile-LR;
  @include tablet {
    padding: 0 $tablet-LR;
  }
}