//============================================================
// Container Styles
//============================================================

//------------- Outer -------------

.outer-container {
  @include display-flex;
  min-height: 100%;
}



//------------- Inner -------------

.inner-container {
  padding: 0 $mobile-edge;
  @include tablet {
    padding: 0 $tablet-edge;
  }
}

