//============================================================
// Main Styles
//============================================================

//-------------- Main -------------

main {
  flex: 1;
  background: $color-background;
  transform: translateX(0);
  transition: transform .5s;
  &.slide-right {
    transform: translateX(88px);
  }
}