//============================================================
// Navigation Styles
//============================================================

//----------- Navigation ----------

nav {
  position: absolute;
  width: 88px;
  padding-top: 10px;
  a.nav-links {
    @include icon-link(64px, 64px, 12px, 16px);
  }
  @include tablet {
    position: relative;
  }
}
