//============================================================
// Navigation Styles
//============================================================

//------------- Navigation ------------

nav {
  display: none;
  @include tablet {
    display: block;
    width: 88px;
    height: 100%;
    background-color: $color-nav;
    padding-top: 10px;
    a.nav-links {
      display: inline-block;
      width: 64px;
      height: 64px;
      margin: 7px 12px;
      padding: 16px;
      opacity: 0.5;
      transition: opacity .5s;
      &:hover,
      &:focus {
        opacity: 1;
        outline-color: $color-background;
      }
    }
  }
}
