//============================================================
// Search Container Styles
//============================================================

//-------- Search Container -------
  
#page-title {
  @include font-settings(1.1rem, 400);
  line-height: 64px;
  width: 95px;
  border-right: $border;
  @include tablet {
    @include font-settings(1.4rem, 400);
    width: 120px;
  }
}

.search-container {
  position: relative;
  @include display-flex (flex-end, center);
  width: calc(100% - 95px + #{$mobile-edge});
  height: 64px;
  background-color: $color-tab;
  margin-right: -#{$mobile-edge};
  padding-right: $mobile-edge;
  border-bottom: $border;
  @include tablet {
    width: calc(100% - 120px + #{$tablet-edge});
    margin-right: -#{$tablet-edge};
    padding-right: $tablet-edge;
  }
  #search {
    width: 75%;
    max-width: 375px;
  }
  #search-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    @extend %focus-state-input;
  }
}