//============================================================
// Base Element Styles
//============================================================

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @extend %font-primary;
  height: 100vh;
  background-color: $color-background;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}