//============================================================
// Base Element Styles
//============================================================

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @extend %font-primary;
  height: 100vh;
  @include font-settings(1rem, 300, $color-text-dark);
  background-color: $color-background;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
